.mainItemContainerWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  .mainItemContainerInner {
    display: flex;
    width: 1200px;
    height: 508px;
    .mainItem {
      display: flex;
      position: relative;
      width: 80%;
      margin-right: 10px;
      a {
        color: white;
        display: flex;
        width: 100%;
        .mainItemImage {
          width: 100%;
          position: relative;
          img {
            border-radius: 5px;
          }
        }
        .mainItemDescription {
          position: absolute;
          bottom: 10px;
          left: 10px;
          p {
            padding: 10px;
            &:first-child {
              font-size: 32px;
              line-height: 42px;
              font-weight: 700;
            }
          }
        }
      }
    }
    .event {
      width: 20%;
      aspect-ratio: 1;
      display: flex;
      a {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        img {
          width: 100%;
          height: auto;
          border-radius: 5px;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .mainItemContainerWrap {
    .mainItemContainerInner {
      width: 768px;
      .mainItem {
        width: 100%;
        margin: 0;
      }
      .event {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 576px) {
}
