.category {
  display: flex;
  justify-content: center;

  .inner {
    flex-basis: 600px;
    padding: 0 20px;
    .srOnly {
      color: white;
      text-indent: -9999px;
      position: absolute;
      width: 1px;
      height: 1px;
    }
  }
}
