@mixin sr-only {
  font-size: 1px;
  text-indent: -9999px;
  color: white;
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}
.overlay {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #333, $alpha: 0.3);
  z-index: 1;
}
.wrap {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  z-index: 999;

  .container {
    display: flex;
    flex-direction: column;
    flex-basis: 560px;
    height: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    .header {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      justify-content: center;
      border-bottom: 1px solid rgba(100, 216, 254, 0.4);
      > div {
        margin: 10px 0 20px 0;
      }
    }
    .body {
      display: flex;
      flex-direction: column;
      > div {
        font-size: 14px;
        margin: 20px 0 20px 0;
        text-align: center;
      }

      overflow-y: auto;
      legend {
        @include sr-only;
      }
      label {
        @include sr-only;
      }
      form {
        display: flex;
        margin-top: 20px;
        fieldset {
          display: flex;
          flex: 1;
          justify-content: center;

          #categoryName {
            height: 40px;
            border-radius: 10px 0 0 10px;
            padding-left: 10px;
            flex-basis: 300px;
            border: 1px solid #333;
            border-right: none;

            // border: none;
            &::placeholder {
              color: rgba($color: #333, $alpha: 0.3);
              font-size: 14px;
            }
          }
          .addBtn {
            background-color: #666;
            height: 40px;
            padding: 0 10px;
            border-radius: 0 8px 8px 0;
            color: white;
            font-weight: 700;
            transition: all 0.2s;
            &:hover {
              background-color: black;
            }
          }
        }
      }
    }
    .footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      .closeBtn {
        background-color: #999;
        padding: 5px 10px;
        border-radius: 15px;
        color: white;
        transition: all 0.2s;

        &:hover {
          background-color: black;
        }
      }
    }
  }
}
